*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:linear-gradient(180deg,#0f172a,#111827,#1e293b);
    color:#fff;
}

header{
    background:linear-gradient(135deg,#2563eb,#7c3aed);
    padding:40px 20px;
    text-align:center;
    border-radius:0 0 25px 25px;
    box-shadow:0 10px 20px rgba(0,0,0,.3);
}

header h1{
    font-size:38px;
    margin-bottom:10px;
}

header p{
    color:#e5e7eb;
}

.container{
    width:90%;
    max-width:900px;
    margin:30px auto;
}

.banner{
    background:#1f2937;
    padding:20px;
    border-radius:18px;
    text-align:center;
    margin-bottom:25px;
    border:1px solid #2563eb;
}

.card{
    background:#1f2937;
    padding:20px;
    margin-bottom:20px;
    border-radius:18px;
    box-shadow:0 5px 15px rgba(0,0,0,.3);
    transition:.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.card h2{
    margin-bottom:10px;
}

.card p{
    color:#d1d5db;
    margin-bottom:15px;
}

button{
    width:100%;
    padding:15px;
    border:none;
    border-radius:12px;
    background:linear-gradient(90deg,#2563eb,#7c3aed);
    color:#fff;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
}

button:hover{
    opacity:.9;
}

footer{
    text-align:center;
    padding:20px;
    color:#9ca3af;
    .contact-payment{
    padding:40px 20px;
    text-align:center;
}

.contact-payment .box{
    max-width:500px;
    margin:auto;
    background:#1e293b;
    color:#fff;
    border-radius:15px;
    padding:20px;
    box-shadow:0 0 15px rgba(0,0,0,.3);
}

.contact-payment .btn{
    display:inline-block;
    margin:15px 0;
    background:#25D366;
    color:#fff;
    padding:12px 25px;
    border-radius:10px;
    text-decoration:none;
    font-weight:bold;
}

.contact-payment .btn:hover{
    background:#1da851;
}

.contact-payment .qr{
    width:250px;
    max-width:100%;
    background:#fff;
    padding:10px;
    border-radius:10px;
    margin:15px 0;
}

.contact-payment hr{
    margin:20px 0;
    border:1px solid #334155;
}
}