*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:linear-gradient(135deg,#0f172a,#1e3a8a,#4f46e5);
    color:white;
    padding:20px;
}

header{
    text-align:center;
    margin-bottom:20px;
}

header h1{
    font-size:35px;
    color:#00e5ff;
    text-shadow:0 0 15px #00e5ff;
}

header p{
    color:#ddd;
    margin-top:5px;
}

.banner{
    background:linear-gradient(90deg,#2563eb,#7c3aed);
    border-radius:20px;
    padding:20px;
    text-align:center;
    margin:20px 0;
    box-shadow:0 0 20px rgba(0,255,255,.3);
}

.banner h2{
    font-size:25px;
}

input{
    width:100%;
    padding:15px;
    border:none;
    border-radius:12px;
    margin:10px 0;
    font-size:16px;
}

.produk{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:12px;
    margin-top:15px;
}

.produk button{
    background:linear-gradient(45deg,#00c6ff,#0072ff);
    color:white;
    border:none;
    padding:18px;
    border-radius:15px;
    font-size:16px;
    font-weight:bold;
    transition:.3s;
    box-shadow:0 0 15px rgba(0,150,255,.4);
}

.produk button:hover{
    transform:scale(1.05);
}

button{
    width:100%;
    padding:15px;
    margin-top:20px;
    border:none;
    border-radius:15px;
    font-size:18px;
    font-weight:bold;
    background:linear-gradient(45deg,#22c55e,#16a34a);
    color:white;
}

.metode{
    margin-top:30px;
    background:#1e293b;
    padding:20px;
    border-radius:15px;
}

.footer{
    text-align:center;
    margin-top:40px;
    color:#bbb;
}
  text-align:center;
  color:white;
  border-radius:25px;
  background:rgba(20,0,40,0.7);
  backdrop-filter:blur(15px);
  border:1px solid rgba(255,255,255,.2);
  box-shadow:
  0 0 30px #ff00aa,
  0 0 60px #6a00ff;
  animation:float 3s infinite ease-in-out;
}

.glow{
  position:absolute;
  width:150px;
  height:150px;
  background:#ff0